In [1]:
import pandas as pd
import glob


csv_files = glob.glob("WorldCup_Stats/*.csv") 
dataframes = [pd.read_csv(file) for file in csv_files]


crick_df = pd.concat(dataframes, ignore_index=True)


crick_df.head()

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,result,pom,best_batters,best_bowlers,commentary_line,world_cup_year,host_country
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,0.0,India won by 10 wickets (with 181 balls remain...,Farokh Engineer,NaN,NaN,NaN,1975,England
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,6.0,Australia won by 4 wickets (with 188 balls rem...,Gary Gilmour,NaN,NaN,NaN,1975,England
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,0.0,England won by 196 runs,John Snow,NaN,NaN,NaN,1975,England
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,5.0,West Indies won by 5 wickets (with 119 balls r...,Alvin Kallicharran,NaN,NaN,NaN,1975,England

Assume null recodes as which contains all columns are null

In [2]:
#Data exploration
print(crick_df.info())
print(crick_df.describe())

# Remove duplicate records & Remove rows with null values
crick_df.drop_duplicates(inplace=True)
crick_df.dropna(how='all' ,inplace=True)

crick_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     528 non-null    int64
 1   Unnamed: 0       528 non-null    int64
 2   date             364 non-null    object
 3   venue            528 non-null    object
 4   match_category   528 non-null    object
 5   team_1           528 non-null    object
 6   team_2           528 non-null    object
 7   team_1_runs      518 non-null    float64
 8   team_1_wickets   518 non-null    float64
 9   team_2_runs      513 non-null    float64
 10  team_2_wickets   513 non-null    float64
 11  result           528 non-null    object
 12  pom              510 non-null    object
 13  best_batters     250 non-null    object
 14  best_bowlers     250 non-null    object
 15  commentary_line  83 non-null     object
 16  world_cup_year   528 non-null    int64
 17  host_country     528 non-null    object
dtypes: float64(4), int64(3), object(11)
memory usage: 74.4+ KB
None
       Unnamed: 0.1  Unnamed: 0  team_1_runs  team_1_wickets  team_2_runs  \
count    528.000000  528.000000   518.000000      518.000000   513.000000
mean      21.871212   21.034091   243.239382        4.590734   198.643275
std       14.307231   13.915398    75.108565        3.465005    59.732864
min        0.000000    0.000000     1.000000        0.000000    24.000000
25%       10.000000    9.000000   197.000000        0.000000   158.000000
50%       20.000000   20.000000   244.000000        6.000000   204.000000
75%       33.000000   32.000000   292.000000        8.000000   235.000000
max       55.000000   53.000000   428.000000        9.000000   383.000000

       team_2_wickets  world_cup_year
count      513.000000      528.000000
mean         2.777778     2003.373106
std          3.044163       13.352007
min          0.000000     1975.000000
25%          0.000000     1992.000000
50%          2.000000     2003.000000
75%          5.000000     2015.000000
max          9.000000     2023.000000

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,result,pom,best_batters,best_bowlers,commentary_line,world_cup_year,host_country
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,0.0,India won by 10 wickets (with 181 balls remain...,Farokh Engineer,NaN,NaN,NaN,1975,England
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,6.0,Australia won by 4 wickets (with 188 balls rem...,Gary Gilmour,NaN,NaN,NaN,1975,England
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,0.0,England won by 196 runs,John Snow,NaN,NaN,NaN,1975,England
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,5.0,West Indies won by 5 wickets (with 119 balls r...,Alvin Kallicharran,NaN,NaN,NaN,1975,England
5,5,1,NaN,Birmingham,League-Match,NZ,EAf,309.0,5.0,128.0,8.0,New Zealand won by 181 runs,Glenn Turner,NaN,NaN,NaN,1975,England
6,6,7,NaN,Birmingham,League-Match,PAK,WI,266.0,7.0,267.0,9.0,West Indies won by 1 wicket (with 2 balls rema...,Sarfraz Nawaz,NaN,NaN,NaN,1975,England
7,7,2,NaN,Leeds,League-Match,AUS,PAK,278.0,7.0,205.0,0.0,Australia won by 73 runs,Dennis Lillee,NaN,NaN,NaN,1975,England
8,8,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England
9,9,4,1975-06-11,Nottingham,League-Match,ENG,NZ,266.0,6.0,186.0,0.0,England won by 80 runs,Keith Fletcher,NaN,NaN,NaN,1975,England

Since earlier assumption there are some null values in runs columns. Hence, it is unable to remove outlies.

In [3]:
#Adding new columns to the DataFrame: match_status 
crick_df['match_status'] = crick_df['result'].apply(
    lambda x: 'abandoned' if 'abandoned' in x.lower() or 'no result' in x.lower() else 'played'
)

crick_df.head(10)

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,result,pom,best_batters,best_bowlers,commentary_line,world_cup_year,host_country,match_status
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England,played
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,0.0,India won by 10 wickets (with 181 balls remain...,Farokh Engineer,NaN,NaN,NaN,1975,England,played
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,6.0,Australia won by 4 wickets (with 188 balls rem...,Gary Gilmour,NaN,NaN,NaN,1975,England,played
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,0.0,England won by 196 runs,John Snow,NaN,NaN,NaN,1975,England,played
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,5.0,West Indies won by 5 wickets (with 119 balls r...,Alvin Kallicharran,NaN,NaN,NaN,1975,England,played
5,5,1,NaN,Birmingham,League-Match,NZ,EAf,309.0,5.0,128.0,8.0,New Zealand won by 181 runs,Glenn Turner,NaN,NaN,NaN,1975,England,played
6,6,7,NaN,Birmingham,League-Match,PAK,WI,266.0,7.0,267.0,9.0,West Indies won by 1 wicket (with 2 balls rema...,Sarfraz Nawaz,NaN,NaN,NaN,1975,England,played
7,7,2,NaN,Leeds,League-Match,AUS,PAK,278.0,7.0,205.0,0.0,Australia won by 73 runs,Dennis Lillee,NaN,NaN,NaN,1975,England,played
8,8,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England,played
9,9,4,1975-06-11,Nottingham,League-Match,ENG,NZ,266.0,6.0,186.0,0.0,England won by 80 runs,Keith Fletcher,NaN,NaN,NaN,1975,England,played

In [4]:
#add new column as winning team 
def extract_winner(result):
    result = result.lower() 
    
    if 'won by' in result:
        return result.split(' won by ')[0].strip()  
    
    elif 'match tied' in result and 'won on boundary count' in result:
        
        team_name = result.split('match tied (')[1].split(' won on boundary count')[0]
        return team_name.strip() 
    
    return None  

crick_df['winning_team'] = crick_df['result'].apply(extract_winner)

crick_df.head(10)

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,result,pom,best_batters,best_bowlers,commentary_line,world_cup_year,host_country,match_status,winning_team
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England,played,pakistan
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,0.0,India won by 10 wickets (with 181 balls remain...,Farokh Engineer,NaN,NaN,NaN,1975,England,played,india
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,6.0,Australia won by 4 wickets (with 188 balls rem...,Gary Gilmour,NaN,NaN,NaN,1975,England,played,australia
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,0.0,England won by 196 runs,John Snow,NaN,NaN,NaN,1975,England,played,england
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,5.0,West Indies won by 5 wickets (with 119 balls r...,Alvin Kallicharran,NaN,NaN,NaN,1975,England,played,west indies
5,5,1,NaN,Birmingham,League-Match,NZ,EAf,309.0,5.0,128.0,8.0,New Zealand won by 181 runs,Glenn Turner,NaN,NaN,NaN,1975,England,played,new zealand
6,6,7,NaN,Birmingham,League-Match,PAK,WI,266.0,7.0,267.0,9.0,West Indies won by 1 wicket (with 2 balls rema...,Sarfraz Nawaz,NaN,NaN,NaN,1975,England,played,west indies
7,7,2,NaN,Leeds,League-Match,AUS,PAK,278.0,7.0,205.0,0.0,Australia won by 73 runs,Dennis Lillee,NaN,NaN,NaN,1975,England,played,australia
8,8,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England,played,pakistan
9,9,4,1975-06-11,Nottingham,League-Match,ENG,NZ,266.0,6.0,186.0,0.0,England won by 80 runs,Keith Fletcher,NaN,NaN,NaN,1975,England,played,england

To handle the case where a match is tied but a team wins on boundary count, in the winning team column shows the won country, and the case where a match is tied, in the winning team column shows the none and others shows won country

In [5]:
# Expanding 'best_bowlers' column
def split_best_bowlers(bowler_list):
    if pd.isna(bowler_list):
        return [None, None, None, None]
    bowlers = eval(bowler_list)  
    bowler_1, bowler_2 = (bowlers + [None, None])[:2]  
    bowler_1_name, bowler_1_wick = bowler_1.split(' - ') if bowler_1 else (None, None)
    bowler_2_name, bowler_2_wick = bowler_2.split(' - ') if bowler_2 else (None, None)
    return [bowler_1_name.strip(), bowler_1_wick.strip(), bowler_2_name.strip(), bowler_2_wick.strip()]

crick_df[['best_bowler_1', 'best_bowler_1_wick', 'best_bowler_2', 'best_bowler_2_wick']] = crick_df['best_bowlers'].apply(
    split_best_bowlers
).tolist()


crick_df.head(100-200)

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,...,best_bowlers,commentary_line,world_cup_year,host_country,match_status,winning_team,best_bowler_1,best_bowler_1_wick,best_bowler_2,best_bowler_2_wick
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,...,NaN,NaN,1975,England,played,pakistan,None,None,None,None
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,...,NaN,NaN,1975,England,played,india,None,None,None,None
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,...,NaN,NaN,1975,England,played,australia,None,None,None,None
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,...,NaN,NaN,1975,England,played,england,None,None,None,None
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,...,NaN,NaN,1975,England,played,west indies,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,46,35,2015-03-12,Wellington,League-Match,SA,UAE,341.0,6.0,195.0,...,"['Mohammad Naveed - 3', 'M Morkel - 2']",NaN,2015,New Zealand,played,south africa,Mohammad Naveed,3,M Morkel,2
424,47,45,2015-03-21,Wellington,Final,NZ,WI,393.0,6.0,250.0,...,"['TA Boult - 4', 'JE Taylor - 3']",NaN,2015,New Zealand,played,new zealand,TA Boult,4,JE Taylor,3
425,48,10,NaN,Brisbane,League-Match,Australia,Bangladesh,NaN,NaN,NaN,...,NaN,NaN,2015,Australia,abandoned,None,None,None,None,None
426,49,17,NaN,Melbourne,League-Match,SL,BAN,332.0,1.0,240.0,...,"['SL Malinga - 3', 'TM Dilshan - 2']",NaN,2015,Australia,played,sri lanka,SL Malinga,3,TM Dilshan,2
427,50,39,NaN,Hobart,League-Match,SCOT,AUS,130.0,0.0,133.0,...,"['MA Starc - 4', 'PJ Cummins - 3']",NaN,2015,Australia,played,australia,MA Starc,4,PJ Cummins,3

In [ ]:
# Adding details of 'best_batters' columns
def split_best_batters(batter_list):
    if pd.isna(batter_list):
        return [None, None, None, None]
    batters = eval(batter_list)  # Converting string to list
    batter_1, batter_2 = (batters + [None, None])[:2]  # Handle cases with fewer than 2 entries
    batter_1_name, batter_1_runs = batter_1.split(' - ') if batter_1 else (None, None)
    batter_2_name, batter_2_runs = batter_2.split(' - ') if batter_2 else (None, None)
    return [batter_1_name.strip(), batter_1_runs.strip(), batter_2_name.strip(), batter_2_runs.strip()]

crick_df[['best_batter_1', 'best_batter_1_runs', 'best_batter_2', 'best_batter_2_runs']] = crick_df['best_batters'].apply(
    split_best_batters
).tolist()

crick_df.head(100-200)

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,...,match_status,winning_team,best_bowler_1,best_bowler_1_wick,best_bowler_2,best_bowler_2_wick,best_batter_1,best_batter_1_runs,best_batter_2,best_batter_2_runs
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,...,played,pakistan,None,None,None,None,None,None,None,None
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,...,played,india,None,None,None,None,None,None,None,None
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,...,played,australia,None,None,None,None,None,None,None,None
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,...,played,england,None,None,None,None,None,None,None,None
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,...,played,west indies,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,46,35,2015-03-12,Wellington,League-Match,SA,UAE,341.0,6.0,195.0,...,played,south africa,Mohammad Naveed,3,M Morkel,2,AB de Villiers,99 runs,F Behardien,64 runs
424,47,45,2015-03-21,Wellington,Final,NZ,WI,393.0,6.0,250.0,...,played,new zealand,TA Boult,4,JE Taylor,3,MJ Guptill,237 runs,CH Gayle,61 runs
425,48,10,NaN,Brisbane,League-Match,Australia,Bangladesh,NaN,NaN,NaN,...,abandoned,None,None,None,None,None,None,None,None,None
426,49,17,NaN,Melbourne,League-Match,SL,BAN,332.0,1.0,240.0,...,played,sri lanka,SL Malinga,3,TM Dilshan,2,TM Dilshan,161 runs,KC Sangakkara,105 runs
427,50,39,NaN,Hobart,League-Match,SCOT,AUS,130.0,0.0,133.0,...,played,australia,MA Starc,4,PJ Cummins,3,MJ Clarke,47 runs,MW Machan,40 runs